@model MediaServiceLib.Models.MediaModel

@section link {
    <link href="~/Content/Content.css" rel="stylesheet" />
}

<h1 class="title">
    @Model.Category
</h1>

<div class="content-body">
    @if (Model.Category == MediaServiceLib.Models.MediaCategory.Funny)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.Animal)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.Anime)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.Gaming)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.Movies)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.Music)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.News)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.NSFW)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.Sports)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
    else if (Model.Category == MediaServiceLib.Models.MediaCategory.TV)
    {
        if (Model.Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }

        else if (Model.Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <img src="@Url.Content(Model.Path)" />
            <br />
            @Model.Description
        }
        else if (Model.Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.Author
            <br />
            @Model.Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(Model.Path)" type="audio/mp3" />
            </audio>
            <br />
            @Model.Description
        }
    }
</div>