@model MediaServiceLib.Models.MediaListModel

@section link {
    <link href="~/Content/Content.css" rel="stylesheet" />
}

<h1 class="title">
    @Model.MediaList[0].Category
</h1>

@for (int i = 0; i < Model.MediaList.Count; i++)
{
<div class="content-body">
    @if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Funny)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Animals)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Anime)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Gaming)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Movies)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Music)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.News)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.NSFW)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Sports)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
    else if (Model.MediaList[i].Category == MediaServiceLib.Models.MediaCategory.Tv)
    {
        if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Video)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Gif)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }

        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Image)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <img src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" />
            <br />
            @Model.MediaList[i].Description
        }
        else if (Model.MediaList[i].Type == MediaServiceLib.Models.MediaType.Audio)
        {
            @Model.MediaList[i].Author
            <br />
            @Model.MediaList[i].Caption
            <br />
            <audio class="audios" controls>
                <source src="@Url.Content(String.Format("{0}", Model.MediaList[i].Path))" type="audio/mp3" />
            </audio>
            <br />
            @Model.MediaList[i].Description
        }
    }
</div>
}